{include file="header.html"}
<style>
.ac_results { padding: 0px; border: 1px solid WindowFrame; background-color: Window; overflow: hidden; z-index: 19891020; /* 1000 */ }
.ac_results ul { width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0; }
.ac_results iframe { display: none;/*sorry for IE5*/ display/**/: block;/*sorry for IE5*/ position: absolute; top: 0; left: 0; z-index: -1; filter: mask(); width: 3000px; height: 3000px; }
.ac_results li { margin: 0px; padding: 2px 5px; cursor: pointer; display: block; font: menu; font-size: 12px; overflow: hidden; }
.ac_over { background-color: Highlight; color: HighlightText; }
#thumbnails li{
	    border: 1px solid #eee;
    cursor: pointer;
    display: inline;
    float: left;
    height: 100px;
    margin: 0 10px 10px 0;
    text-align: center;
    width: 100px;
}
</style>
<script type="text/javascript">
$(function(){
    $('#brand_form').validate({
        errorPlacement: function(error, element){
            $(element).next('.field_notice').hide();
            $(element).after(error);
        },
        success       : function(label){
            label.addClass('right').text('OK!');
        },
        onkeyup    : false,
        rules : {
            name : {
                required : true,
            },
            price : {
                required : true,
            },
            code : {
                required : true,
            },
        },
        messages : {
            name : {
                required : '请填写基料名称',
            },
            price : {
                required : "请填写基料价格",
            },
            code : {
                required : "请填写编码",
            },
        }
    });
});
</script>
{$build_editor}
<div id="rightTop">
    <ul class="subnav">
        <li><a class="btn1" href="index.php?app=BaseMaterial&amp;act=index">{$lang.manage}</a></li>
        {if $data.base_id}
        <li><a class="btn1" href="index.php?app=BaseMaterial&amp;act=add">{$lang.add}</a></li>
        {else}
        <li><span>{$lang.add}</span></li>
        {/if}
    </ul>
</div>

<div class="info">
    <form method="post" enctype="multipart/form-data" id="brand_form">
        <table class="infoTable">
         <tr>
                <th class="paddingT15">
                   基料名称:</th>
                <td class="paddingT15 wordSpacing5">
                    <input class="infoTableInput2" id="name" type="text" name="name" value="{$data.base_name|escape}" />
                </td>
        </tr>
         <tr>
                <th class="paddingT15">
                   价格:</th>
                <td class="paddingT15 wordSpacing5">
                    <input class="infoTableInput2" id="price" type="text" name="price" value="{$data.base_price|escape}"/>(元/百克)
                </td>
            </tr>
         <tr>
         <tr>
                <th class="paddingT15">
                   编码:</th>
                <td class="paddingT15 wordSpacing5">
                    <input class="infoTableInput2" id="code" type="text" name="code" value="{$data.base_code|escape}" />
                </td>
        </tr>
        <th class="paddingT15"> 犬种:</th>
        <td class="paddingT15 wordSpacing5">
        <select  name="cate_id" onchange="get_weight(this)">
            <option value=0>请选择</option>
            {html_options options=$cates selected=$data.cate_id}
         </select>
         <!--{if $weight}-->
         <span>&nbsp;&nbsp;犬重：</span>
         <select  name="weight" id="weight">
                {html_options options=$weight selected=$data.weight}
         </select>
         <!--{/if}-->
         犬期：
         <select  name="age_id" id="age_id">
                <option value=0>请选择</option>
                {html_options options=$ages selected=$data.age_id}
         </select>
         </td>
   </tr>
            <!-- <tr>
                <th class="paddingT15">
             板块选择:</th>
                <td class="paddingT15 wordSpacing5">
                    <select name="style" id="style">
                        <option value="0">请选择</option>
                        {foreach from=$style_list item=style key=key}
                            <option value="{$key}" {if $data.style eq $key}selected{/if}>{$style}</option>
                        {/foreach}
                    </select>
                </td>
            </tr> -->
            
        <tr>
            <th></th>
            <td class="ptb20">
                <input class="tijia" type="submit" name="Submit" value="{$lang.submit}" />
                <input class="congzi" type="reset" name="Submit2" value="{$lang.reset}" />
            </td>
        </tr>
        </table>
    </form>
</div>
<script type="text/javascript" src="/static/expand/jquery.autocomplete.js"></script>
<script src="{res file=js/jquery.dragsort-0.5.1.js}"></script>
<script>
$('form').submit(function(){

})
function get_region(obj)
{
	var p_id = $(obj).val();
	$.post("./index.php?app=basematerial&act=get_region",{pid:p_id}, function(res){
		   var res = eval("("+res+")");
		   $('#region_id').empty();
	    	 $('#region_id').append(res.retval)
	});
}
function get_weight(obj)
{
    var cate = $(obj).val();
    $.post("./index.php?app=BaseMaterial&act=get_weight",{cate:cate}, function(res){
           $("select[name='cate_id']").next('span').remove();
           $("select[name='weight']").remove();
           if(res.done){
            var con='<span>&nbsp;&nbsp;犬重：</span><select  name="weight" id="weight">\
                    '+res.retval+'</select>'
               $("select[name='cate_id']").after(con)
           }
           
    },'json');
}
</script>

{include file="footer.html"}
