{include file="header.html"}
<div id="rightTop">
    <ul class="subnav">
	<li><a class="btn1" href="index.php?app=yh_template&amp;act=index">印花管理</a></li>
	<li><a class="btn1" href="index.php?app=yh_template&amp;act=custom">用户上传印花</a></li>
        <li><a class="btn1" href="index.php?app=yh_template&amp;act=add">添加印花模板</a></li>
        <li><span>印花分类</span></li>
        <li><a class="btn1" href="index.php?app=yh_category&amp;act=add">添加印花分类</a></li>
        <li><a class="btn1" href="index.php?app=shirt">所有衬衫</a></li>
        <li><a class="btn1" href="index.php?app=shirt&amp;act=add">添加衬衫</a></li>
    </ul>
</div>

  <div class="fontr">{include file=page.top.html}</div>
</div>
<div class="tdare">
  <table width="100%" cellspacing="0" class="dataTable">
    <!--{if $items}-->
    <tr class="tatr1">
      <td>分类名称</td>
      <td class="handler">{$lang.handler}</td>
    </tr>
    <!--{/if}-->
    <!--{foreach from=$items item=list}-->
    <tr class="tatr2">
      <td width="200">{$list.name}</td>
      <td class="handler">
      <a href="index.php?app=yh_category&amp;act=edit&amp;id={$list.id}">编辑</a>
      </td>
    </tr>
    <!--{foreachelse}-->
    <tr class="no_data">
      <td colspan="6">{$lang.no_data}</td>
    </tr>
    <!--{/foreach}-->
  </table>
  <!--{if $items}-->
  <div id="dataFuncs">
    <div class="pageLinks">{include file=page.bottom.html}</div>
    <div class="clear"></div>
  </div>
  <!--{/if}-->
</div>
{include file="footer.html"}