<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link href="css/layim.css" type="text/css" rel="stylesheet"/>
<style>
body { font-size: 12px; margin: 0; padding: 0; }
.main { width: 600px; margin: 0 auto; border: solid 1px #ddd; }
.layim_chatview { height: auto; margin-top: 100px; }
.filterBar { height: 50px; width: 600px; line-height:50px; text-align:center; background: #fff; position: fixed; top: 0; z-index: 2; border-bottom: solid 1px #ddd; box-shadow: 0 0 5px #ccc; }
.filterBar .Wdate{ width:100px; height:25px; padding:0 3px; border:solid 1px #ddd;}
.filterBar .btn{ width:50px; height:25px; border:0; background:#1b9af7; border-radius:3px; color:#fff; box-shadow:0 5px 0 #077ace; margin-left:10px;}
</style>
<script src="/static/js/expand/my97date/wdatepicker.js"></script>
</head>

<body>
<div class="main">
  <div class="filterBar">
      <span>筛选：</span>
      <input type="text" class="Wdate" onfocus="WdatePicker({maxDate:'%y-%M-%d'})">
      至
      <input type="text" class="Wdate" onfocus="WdatePicker({maxDate:'%y-%M-%d'})">
      <input type="button" value="确定" class="btn">
  </div>
  <ul id="layim_area100003-0001" class="layim_chatview layim_chatthis">
    <li class="layim_chateme">
      <div class="layim_chatuser"><span class="layim_chattime">2014-04-26 0:37</span><span class="layim_chatname">游客</span><img src="images/1.png"></div>
      <div class="layim_chatsay">三等功啊但是法国斯蒂芬个 <em class="layim_zero"></em></div>
    </li>
    <li class="">
      <div class="layim_chatuser"><img src="http://tp1.sinaimg.cn/1722052204/180/5662731258/1"><span class="layim_chatname">张三</span><span class="layim_chattime">2014-04-26 0:38</span></div>
      <div class="layim_chatsay">&lt;（@￣︶￣@）&gt;<em class="layim_zero"></em></div>
    </li>
    <li class="layim_chateme">
      <div class="layim_chatuser"><span class="layim_chattime">2014-04-26 0:37</span><span class="layim_chatname">游客</span><img src="images/1.png"></div>
      <div class="layim_chatsay">斯蒂芬斯蒂芬撒旦 <em class="layim_zero"></em></div>
    </li>
    <li class="">
      <div class="layim_chatuser"><img src="http://tp1.sinaimg.cn/1722052204/180/5662731258/1"><span class="layim_chatname">张三</span><span class="layim_chattime">2014-04-26 0:38</span></div>
      <div class="layim_chatsay">您好，我现在有事不在，一会再和您联系。<em class="layim_zero"></em></div>
    </li>
    <li class="layim_chateme">
      <div class="layim_chatuser"><span class="layim_chattime">2014-04-26 0:37</span><span class="layim_chatname">游客</span><img src="images/1.png"></div>
      <div class="layim_chatsay">斯蒂芬斯蒂芬斯蒂芬 <em class="layim_zero"></em></div>
    </li>
    <li class="">
      <div class="layim_chatuser"><img src="http://tp1.sinaimg.cn/1722052204/180/5662731258/1"><span class="layim_chatname">张三</span><span class="layim_chattime">2014-04-26 0:38</span></div>
      <div class="layim_chatsay">主人正在开机自检，键盘鼠标看好机会出去凉快去了，我是他的电冰箱，我打字比较慢，你慢慢说，别急……<em class="layim_zero"></em></div>
    </li>
    <li class="layim_chateme">
      <div class="layim_chatuser"><span class="layim_chattime">2014-04-26 0:37</span><span class="layim_chatname">游客</span><img src="images/1.png"></div>
      <div class="layim_chatsay">三等功啊但是法国斯蒂芬个 <em class="layim_zero"></em></div>
    </li>
    <li class="">
      <div class="layim_chatuser"><img src="http://tp1.sinaimg.cn/1722052204/180/5662731258/1"><span class="layim_chatname">张三</span><span class="layim_chattime">2014-04-26 0:38</span></div>
      <div class="layim_chatsay">&lt;（@￣︶￣@）&gt;<em class="layim_zero"></em></div>
    </li>
    <li class="layim_chateme">
      <div class="layim_chatuser"><span class="layim_chattime">2014-04-26 0:37</span><span class="layim_chatname">游客</span><img src="images/1.png"></div>
      <div class="layim_chatsay">斯蒂芬斯蒂芬撒旦 <em class="layim_zero"></em></div>
    </li>
    <li class="">
      <div class="layim_chatuser"><img src="http://tp1.sinaimg.cn/1722052204/180/5662731258/1"><span class="layim_chatname">张三</span><span class="layim_chattime">2014-04-26 0:38</span></div>
      <div class="layim_chatsay">您好，我现在有事不在，一会再和您联系。<em class="layim_zero"></em></div>
    </li>
    <li class="layim_chateme">
      <div class="layim_chatuser"><span class="layim_chattime">2014-04-26 0:37</span><span class="layim_chatname">游客</span><img src="images/1.png"></div>
      <div class="layim_chatsay">斯蒂芬斯蒂芬斯蒂芬 <em class="layim_zero"></em></div>
    </li>
    <li class="">
      <div class="layim_chatuser"><img src="http://tp1.sinaimg.cn/1722052204/180/5662731258/1"><span class="layim_chatname">张三</span><span class="layim_chattime">2014-04-26 0:38</span></div>
      <div class="layim_chatsay">主人正在开机自检，键盘鼠标看好机会出去凉快去了，我是他的电冰箱，我打字比较慢，你慢慢说，别急……<em class="layim_zero"></em></div>
    </li>
    <li class="layim_chateme">
      <div class="layim_chatuser"><span class="layim_chattime">2014-04-26 0:37</span><span class="layim_chatname">游客</span><img src="images/1.png"></div>
      <div class="layim_chatsay">三等功啊但是法国斯蒂芬个 <em class="layim_zero"></em></div>
    </li>
    <li class="">
      <div class="layim_chatuser"><img src="http://tp1.sinaimg.cn/1722052204/180/5662731258/1"><span class="layim_chatname">张三</span><span class="layim_chattime">2014-04-26 0:38</span></div>
      <div class="layim_chatsay">&lt;（@￣︶￣@）&gt;<em class="layim_zero"></em></div>
    </li>
    <li class="layim_chateme">
      <div class="layim_chatuser"><span class="layim_chattime">2014-04-26 0:37</span><span class="layim_chatname">游客</span><img src="images/1.png"></div>
      <div class="layim_chatsay">斯蒂芬斯蒂芬撒旦 <em class="layim_zero"></em></div>
    </li>
    <li class="">
      <div class="layim_chatuser"><img src="http://tp1.sinaimg.cn/1722052204/180/5662731258/1"><span class="layim_chatname">张三</span><span class="layim_chattime">2014-04-26 0:38</span></div>
      <div class="layim_chatsay">您好，我现在有事不在，一会再和您联系。<em class="layim_zero"></em></div>
    </li>
    <li class="layim_chateme">
      <div class="layim_chatuser"><span class="layim_chattime">2014-04-26 0:37</span><span class="layim_chatname">游客</span><img src="images/1.png"></div>
      <div class="layim_chatsay">斯蒂芬斯蒂芬斯蒂芬 <em class="layim_zero"></em></div>
    </li>
    <li class="">
      <div class="layim_chatuser"><img src="http://tp1.sinaimg.cn/1722052204/180/5662731258/1"><span class="layim_chatname">张三</span><span class="layim_chattime">2014-04-26 0:38</span></div>
      <div class="layim_chatsay">主人正在开机自检，键盘鼠标看好机会出去凉快去了，我是他的电冰箱，我打字比较慢，你慢慢说，别急……<em class="layim_zero"></em></div>
    </li>
    <li class="layim_chateme">
      <div class="layim_chatuser"><span class="layim_chattime">2014-04-26 0:37</span><span class="layim_chatname">游客</span><img src="images/1.png"></div>
      <div class="layim_chatsay">三等功啊但是法国斯蒂芬个 <em class="layim_zero"></em></div>
    </li>
    <li class="">
      <div class="layim_chatuser"><img src="http://tp1.sinaimg.cn/1722052204/180/5662731258/1"><span class="layim_chatname">张三</span><span class="layim_chattime">2014-04-26 0:38</span></div>
      <div class="layim_chatsay">&lt;（@￣︶￣@）&gt;<em class="layim_zero"></em></div>
    </li>
    <li class="layim_chateme">
      <div class="layim_chatuser"><span class="layim_chattime">2014-04-26 0:37</span><span class="layim_chatname">游客</span><img src="images/1.png"></div>
      <div class="layim_chatsay">斯蒂芬斯蒂芬撒旦 <em class="layim_zero"></em></div>
    </li>
    <li class="">
      <div class="layim_chatuser"><img src="http://tp1.sinaimg.cn/1722052204/180/5662731258/1"><span class="layim_chatname">张三</span><span class="layim_chattime">2014-04-26 0:38</span></div>
      <div class="layim_chatsay">您好，我现在有事不在，一会再和您联系。<em class="layim_zero"></em></div>
    </li>
    <li class="layim_chateme">
      <div class="layim_chatuser"><span class="layim_chattime">2014-04-26 0:37</span><span class="layim_chatname">游客</span><img src="images/1.png"></div>
      <div class="layim_chatsay">斯蒂芬斯蒂芬斯蒂芬 <em class="layim_zero"></em></div>
    </li>
    <li class="">
      <div class="layim_chatuser"><img src="http://tp1.sinaimg.cn/1722052204/180/5662731258/1"><span class="layim_chatname">张三</span><span class="layim_chattime">2014-04-26 0:38</span></div>
      <div class="layim_chatsay">主人正在开机自检，键盘鼠标看好机会出去凉快去了，我是他的电冰箱，我打字比较慢，你慢慢说，别急……<em class="layim_zero"></em></div>
    </li>
  </ul>
</div>
</body>
</html>
