body, form, ul, ol, li, span, p, dl, dt, dd, img, h1, h2, h3, h4, h5, h6 ,input{ margin: 0; padding: 0; border:none;}
body { font: 12px/1.5 arial, "Microsoft Yahei", "Hiragino Sans GB", sans-serif!important;width:100%;}
img { border: 0; }
button{ outline:0; cursor:pointer;}
ul, ol, li { list-style: none }
em {font-style: normal }
.clearfix:after { content: "."; height: 0px; line-height: 0px; overflow: hidden; clear: both; display: block; visibility: hidden; }
.clearfix { zoom: 1; }
input[type='button'],button { -webkit-appearance: none; -webkit-border-radius: 0; border: none; }
.hide{display:none;}
.fl{float:left;}
.fr{float:right;}
.container{min-width:320px;max-width:640px;width:100%;margin:0 auto;background:url(../images/xzpic.png) no-repeat; background-size:100%;}
.xzword{color:#fff; text-align:center;padding-top:20px;}
.xzjies{width:228px;height:114px;margin:0 auto;margin-top:63%; text-align:center;position:relative;}
.xzjies h1{font-size:18px;height:18px;line-height:18px; overflow:hidden;padding-top:8px;color:#000;}
.xzjies .jiescon{color:#717171;margin-top:10px;line-height:19px;height:75px; overflow:hidden;}
.xzzsj{width:8px;height:12px; position:absolute;left:0;top:0;}
.xzyxj{width:8px;height:12px; position:absolute;right:0;bottom:0;}

.xzipan{max-height:104px; overflow:hidden; margin:0 20px;margin-top:55px;}

.xzipan .xzip{width:155px;height:60px; overflow:hidden;}
.xzipan .xzip a{height:60px; display:block;}
.xzipan .xzip img{width:100%;}