{include file="header.html"}
<div id="rightTop">
      <ul class="subnav">
	    <li><a class="btn1" href="index.php?app=figurecash&amp;act=index">提现列表</a></li>
	    <li><span>审核</span></li>
	  </ul>
</div>
<div class="info" >
    <form method="post" enctype="multipart/form-data" id="theForm" name="theForm"  onsubmit="return toVaild()">
        <table class="infoTable">
            <tr>
                <th class="paddingT15">会员id :</th>
                <td class="paddingT15 wordSpacing5">
                    <span>{$data.user_id|escape}</span>
                </td>
            </tr>
            <tr>
                <th class="paddingT15">提现人姓名 :</th>
                <td class="paddingT15 wordSpacing5">
                    <span>{$data.real_name|escape}</span>
                </td>
            </tr>
            
            <tr>
                <th class="paddingT15">提现金额 :</th>
                <td class="paddingT15 wordSpacing5">
                    <span>{$data.cash_money|escape}</span>
                </td>
            </tr>
            
            <tr>
                <th class="paddingT15">银行卡号 :</th>
                <td class="paddingT15 wordSpacing5">
                    <span style="color: #FF0000;font-size:large">{$data.bank_card}</span>
                </td>
            </tr>
         <!--    <tr>
                <th class="paddingT15">所属银行 :</th>
                <td class="paddingT15 wordSpacing5">
                    <span>{$bank[$data.bank_id]}</span>
                </td>
            </tr> -->
            <!-- <tr>
                <th class="paddingT15">银行所在地:</th>
                <td class="paddingT15 wordSpacing5">
                    <span>{$data.region_name}</span>
                </td>
            </tr> -->
           
             <tr>
                <th class="paddingT15">提现申请时间 :</th>
                <td class="paddingT15 wordSpacing5">
                    <span>{$data.create_time}</span>
                </td>
            </tr>
            
             
                <th class="paddingT15">
                     状态 :</th>
                <td class="paddingT15 wordSpacing5">
                    <select class="querySelect" id="status" name="status" onchange="changeStatus()">
                     <option value="0" >请选择</option>
		              {html_options options=$status  selected="$data.status"}
		            </select>
                </td>
            </tr>
            <tr>
                <th class="paddingT15">备注 :</th>
                <td class="paddingT15 wordSpacing5">
                <textarea   name="msg" id="fail_reason" disabled=true>{$data.fail_reason}</textarea>
                </td>
            </tr>
            <tr>
            <th></th>
            <td class="ptb20">
                <input type="hidden" name="id" value="{$data.id}" />
                <input class="tijia" type="submit" name="Submit" value="{$lang.submit}" />
            </td>
            </tr>
        </table>
    </form>
</div>
<script>
	function changeStatus()
	{
		var status = $("#status").val();
		if(status == 1 || status == 2)
		{
			$("#fail_reason").attr("disabled",false)
			
			
		}
		else
		{
			$("#fail_reason").attr("disabled",true);
		}	
	}
	
	function toVaild()
	{
		
		var status = $('#status').val();
		
		if(status == 0)
		{
			alert('请选择审核状态')
			return false;		
		}
		
		var fail_reason = $('#fail_reason').val();
		if(status == 2 && !fail_reason)
		{
			alert('请填写备注')
			return false;
		}
		return true;
		
	}

	
	
</script>
{include file="footer.html"}