{include file="header.html"}
<script type="text/javascript" src="{res file=js/utils.js}" charset="utf-8"></script>
<link href="templates/style/main.css" rel="stylesheet" type="text/css" />
<link href="templates/style/general.css" rel="stylesheet" type="text/css" />
<style>
input{padding:3px;}
</style>
<script type="text/javascript">
$(function(){
    $('#theForm').validate({
        errorPlacement: function(error, element){
            $(element).next('.field_notice').hide();
            $(element).after(error);
        },
        success       : function(label){
            label.addClass('right').text('OK!');
        },
        onkeyup    : false,
        rules : {
            goods_name : {
                required : true,
                remote   : {                //唯一
                url :'index.php?app=part&act=check_part_name',
                type:'get',
                data:{
                    goods_name : function(){
                        return $('#goods_name').val();
                        },
                    part_id : '{$part.part_id}'
                    }
                }
            },
            code : {
                remote   : {                //唯一
                url :'index.php?app=part&act=check_code',
                type:'get',
                data:{
                    code : function(){
                        return $('#code').val();
                        },
                    part_id : '{$part.part_id}'
                    }
                }
            },
           
            cost_price : {
            	number : true,
            },
            price : {
            	number : true,
            },
            maket_price : {
            	number : true,
            },
            goods_number : {
            	number : true
            },
            warn_number : {
            	number : true
            },
            goods_img : {
                accept  : 'gif|png|jpe?g'
            },
            
            goods_thumb : {
                accept  : 'gif|png|jpe?g'
            },
           
            sort_order : {
                number   : true
            }
        },
        messages : {
            goods_name : {
                required : '组件名称不能为空',
                remote   : '组件名称已经存在'
            },
            code : {
            	remote   : '商品货号已经存在'
            },
            cate_id  : {
                required   : '必须选择一个分类'
            },
            goods_type : {
            	required : '类型必须选择'
            },
            cost_price  : {
                number   : '价格必须是数字'
            },
            price  : {
                number   : '价格必须是数字'
            },
            maket_price  : {
                number   : '价格必须是数字'
            },
            goods_number  : {
                number   : '库存必须是一个数字'
            },
            warn_number  : {
                number   : '警告库存必须是一个数字'
            },
            goods_img  : {
                accept   : '图片类型不正确'
            },
            goods_img_url : {
            	url : '图片链接格式不正确'
            },
            goods_thumb : {
            	accept  : '图片类型不正确'
            },
            goods_thumb_url : {
            	url  : '图片链接格式不正确'
            },
            type_id     : {
            	required : '{$lang.type_req}'
            }
        }
    });
});

</script>


{$build_editor}
<!-- start goods form -->
<div class="tab-div">
    <!-- tab bar -->
    <div id="tabbar-div">
      <p>
        <span class="tab-front" id="general-tab">{$lang.tab_general}</span>
        <!--  
        <span class="tab-back" id="detail-tab">{$lang.tab_detail}</span>
        -->
        <span class="tab-back" id="mix-tab">{$lang.tab_mix}</span>
      <!--  <span class="tab-back" id="properties-tab">{$lang.tab_properties}</span> --> 
      </p>
    </div>

    <!-- tab body -->
    <div id="tabbody-div">
      <form enctype="multipart/form-data" action="" method="post" name="theForm" id="theForm">
        <!-- 最大文件限制 -->
        <input type="hidden" name="MAX_FILE_SIZE" value="2097152" />
        <!-- 通用信息 -->
        <table width="90%" id="general-table" align="center">
          <tr>
            <td class="label">{$lang.lab_goods_name}</td>
            <td>
            <input type="hidden" name="goods_id" value="{$part.goods_id|escape}" />
			<input type="text" name="goods_name" id="goods_name" value="{$part.part_name|escape}" style="float:left;color:{$goods_name_color};" size="30" />
			</td>
          </tr>
          <tr>
            <td class="label">
            B端系统里的编号：</td>
            <td><input type="text" name="code" id="code" value="{$part.code|escape}" size="20"  /><span id="code_notice"></span><br />
            <span class="notice-span" id="noticeGoodsSN">此编号是在B端里的唯一编号，用于让B端系统识别此面料号</span></td>
          </tr>
          
          <tr>
            <td class="label">
            	编号(供应商填写的)：</td>
            <td><input type="text" name="goods_sn" id="goods_sn" value="{$part.goods_sn|escape}" size="20" /><span id="goods_sn_notice"></span>
			（只有供应商可以修改此项）
            </td>
          </tr>
           <tr>
            <td class="label"> 所属店铺 : </td>
            <td><select name="store_id" id="store_id" >
            <option value="">{$lang.select_please}
            </option> {html_options options=$stores selected=$part.store_id}
            </select>
            </td>
          </tr>
          <tr>
            <td class="label">{$lang.lab_goods_cat}</td>
            <td><select name="cate_id" id="cate_id" >
            <option value="">{$lang.select_please}
            </option> {html_options options=$parents selected=$part.cate_id}
            </select>
            </td>
          </tr>
          
           <tr>
              <td class="label">{$lang.lab_goods_type}</td>
              <td>
                <select name="goods_type" id="goods_type">
                  <option value="">{$lang.sel_goods_type}</option>
                  <!-- {foreach from=$zujiantype key=key item=item } -->
                  <option value="{$key}" {if $part.type_id == $key}selected="selected"{/if}>{$item}</option>
                  <!-- {/foreach} -->
                </select><br />
              <span class="notice-span" style="display:block"  id="noticeGoodsType">{$lang.notice_goods_type}</span>
              </td>
          </tr>
          <tr>
            <td id="tbody-goodsAttr" colspan="2" style="padding:0">{$goods_attr_html}</td>
          </tr>
         <!--  
          <tr>
            <td class="label">{$lang.lab_goods_brand}</td>
            <td><select name="brand_id">
            <option value="0">
            {$lang.select_please}{html_options options=$brands selected=$part.brand_id}
            </option>
            </select>
            </td>
          </tr>-->
        
        <!-- 成本价 -->
          <tr>
            <td class="label">成本价：</td>
            <td><input type="text" name="cost_price" id="cost_price" value="{$part.cost_price}" size="20"/>
          </tr>
         <!-- 价格 -->
          <tr>
            <td class="label">{$lang.lab_shop_price}</td>
            <td><input type="text" name="price" id="price" value="{$part.price}" size="20"/>
          </tr>
          <!-- 市场价格 -->
          <tr>
            <td class="label">{$lang.lab_maket_price}：</td>
            <td><input type="text" name="maket_price" id="maket_price" value="{$part.maket_price}" size="20"/>
          </tr>
          <tr>
            <td class="label"> {$lang.lab_goods_number}</td>
<!--            <td><input type="text" name="goods_number" value="{$goods.goods_number}" size="20" {if $code neq '' || $goods._attribute neq ''}readonly="readonly"{/if} /><br />-->
            <td><input type="text" name="goods_number" id="goods_number" value="{$part.part_number}" size="20" /><br />
            <span class="notice-span" {if $help_open}style="display:block" {else} style="display:none" {/if} id="noticeStorage">{$lang.notice_storage}</span></td>
          </tr>
          <tr>
            <td class="label">{$lang.lab_warn_number}</td>
            <td><input type="text" name="warn_number" id="warn_number" value="{$part.warn_number}" size="20" /></td>
          </tr>
          <tr>
            <td class="label">{$lang.sort_order}：</td>
            <td><input type="text" name="sort_order" id="sort_order" value="{$part.sort_order}" size="20" /></td>
          </tr>
       
          <!--  
          <tr>
            <td class="label">{$lang.lab_intro}</td>
            <td><input type="checkbox" name="is_fabric" value="1" {if $part.is_fabric}checked="checked"{/if} />{$lang.is_fabric}
             <input type="checkbox" name="is_new" value="1" {if $part.is_new}checked="checked"{/if} />{$lang.is_new} 
             <input type="checkbox" name="is_hot" value="1" {if $part.is_hot}checked="checked"{/if} />{$lang.is_hot}</td>
          </tr>
            -->
          <tr id="alone_sale_1">
            <td class="label" id="alone_sale_2">{$lang.lab_is_on_sale}</td>
            <td id="alone_sale_3">
            <input type="checkbox" name="is_on_sale" value="1" {if $part.is_on_sale} checked="checked" {/if}/> {$lang.on_sale_desc}</td>
          </tr>
          
          <!--  
          <tr>
            <td class="label">{$lang.small_picture}：</td>
            <td height="100" valign="top">
            	 {input_img name="part_small" value="$part.part_small" dir="part"}
            </td>
          </tr>-->
          
          <tr>
            <td class="label">{$lang.lab_picture}</td>
            <td height="100" valign="top">
            	 {input_img name="part_img" value="$part.part_img" dir="part"}
            </td>
          </tr>
          
            <tr>
                <th class="paddingT15"> 关联基本款: </th>
                <td class="paddingT15 wordSpacing5" id="link">
                   {input_obj callback="cst_callback"  name="link_cst" value="$part.link_cst" id="link_cst" model="customs" text="关联基本款"}
                   <div class="panel"></div>
                </td>
            </tr>
            
          <!--  
           <tr>
            <td class="label">{$lang.lab_thumb}</td>
            <td height="100" valign="top">
            	 {input_img name="part_thumb" value="$part.part_thumb" dir="part"}
            </td>
          </tr>-->
        
        </table>

        <!-- 详细描述 -->
        <table width="90%" id="detail-table" style="display:none">
          <tr>
            <td>{$FCKeditor}</td>
          </tr>
        </table>

        <!-- 其他信息 -->
        <table width="90%" id="mix-table" style="display:none" align="center">
          <tr>
            <td class="label">{$lang.lab_keywords}</td>
            <td><input type="text" name="keywords" value="{$part.keywords|escape}" size="40" /> {$lang.notice_keywords}</td>
          </tr>
          <tr>
            <td class="label">{$lang.lab_goods_brief}</td>
            <td><textarea name="goods_brief" cols="40" rows="3">{$part.zujian_brief|escape}</textarea></td>
          </tr>
          
          <tr>
                <td class="label">详细描述：</td>
                <td> <textarea id="content" name="content" style="width:650px;height:400px;">{$part.content|escape}</textarea></td>
          </tr>
          
        </table>

       
        
        <div class="button-div">
          <input type="hidden" name="part_id" value="{$part.part_id}" />
          {if $code neq ''}
          <input type="hidden" name="extension_code" value="{$code}" />
          {/if}
          <input type="submit" id="Submit" value="{$lang.button_submit}" class="button" />
          <input type="reset" value="{$lang.button_reset}" class="button" />
        </div>
        <input type="hidden" name="act" value="edit" />
      </form>
    </div>
</div>
<script type="text/javascript" src="{res file=js/taba.js}" charset="utf-8"></script>
<!-- end goods form -->
<script>
$(function(){
    $('#Submit').click(function(){
        $('#cate_id').attr('disabled', false);
        $('#goods_type').attr('disabled', false);
    });
});
_pid = "{$part.part_id}";
$(function(){

    <!-- {if $part.link_cst} -->
    ajax_cst('{$part.link_cst}');
    <!-- {/if} -->
    
});
function cst_callback(_ids){
    ajax_cst(_ids.ids);
}
function ajax_cst(ids){
    $.ajax({
        url    :"index.php?app=part&act=ajax_customs_info",
        data   :"ids="+ids+"&pid="+_pid,
        success:function(res){
            $(".panel").html(res);
        }
    });
}
$("#cate_id").change(function(){
    $("#tbody-goodsAttr").empty();
    var cat = $(this).val();
     $.ajax({
      type:"POST",
      url:"index.php?app=part&act=get_type",
      data:"cate_id="+cat,
      success: function(res) {
          $("#goods_type").empty();
          $("#goods_type").append('<option value=0>请选择类型</option>')
          $(res).each(function(i,item){
              var $option = $('<option></option>');
              $option.val(item.type_id);
              $option.html(item.type_name)
              $("#goods_type").append($option);
          })
      },
      dataType: 'json'
  });
});
$('#goods_type').change(function(){
    
    var goodsType = $(this).val();
    getAttrList(goodsType);
    
});


/**
 * 切换商品类型
 */
function getAttrList(goodsType,goodsId){
	$.ajax({
		type:"POST",
		url:"index.php?app=part&act=get_attr",
		data:"type_id="+goodsType+"&goods_id="+goodsId,
		success: function(result) {
			$('#tbody-goodsAttr').html(result);
		},
		dataType: 'json'
	});
}

/**
 * 新增一个规格
 */
function addSpec(obj)
{
    var src   = obj.parentNode.parentNode;
    var idx   = rowindex(src);
    var tbl   = document.getElementById('attrTable');
    var row   = tbl.insertRow(idx + 1);
    var cell1 = row.insertCell(-1);
    var cell2 = row.insertCell(-1);
    var regx  = /<a([^>]+)<\/a>/i;

    cell1.className = 'label';
    cell1.innerHTML = src.childNodes[0].innerHTML.replace(/(.*)(addSpec)(.*)(\[)(\+)/i, "$1removeSpec$3$4-");
    cell2.innerHTML = src.childNodes[1].innerHTML.replace(/readOnly([^\s|>]*)/i, '');
}

/**
 * 删除规格值
 */
function removeSpec(obj)
{
    var row = rowindex(obj.parentNode.parentNode);
    var tbl = document.getElementById('attrTable');

    tbl.deleteRow(row);
}

/**
 * 处理规格
 */
function handleSpec()
{
    var elementCount = document.forms['theForm'].elements.length;
    for (var i = 0; i < elementCount; i++)
    {
        var element = document.forms['theForm'].elements[i];
        if (element.id.substr(0, 5) == 'spec_')
        {
            var optCount = element.options.length;
            var value = new Array(optCount);
            for (var j = 0; j < optCount; j++)
            {
                value[j] = element.options[j].value;
            }

            var hiddenSpec = document.getElementById('hidden_' + element.id);
            hiddenSpec.value = value.join(String.fromCharCode(13)); // 用回车键隔开每个规格
        }
    }
    return true;
}
</script>
           
{include file="footer.html"}
