{include file="header.html"}
<div id="rightTop">
    <ul class="subnav">
        <li><a class="btn1" href="index.php?app=setting&amp;act=base_setting">{$lang.base_setting}</a></li>
        <li><a class="btn1" href="index.php?app=setting&amp;act=base_information">{$lang.base_information}</a></li>
        <li><a class="btn1" href="index.php?app=setting&amp;act=email_setting">{$lang.email_setting}</a></li>
        <li><a class="btn1" href="index.php?app=setting&amp;act=captcha_setting">{$lang.captcha_setting}</a></li>
        <li><a class="btn1" href="index.php?app=setting&amp;act=store_setting">{$lang.store_setting}</a></li>
        <li><a class="btn1" href="index.php?app=setting&amp;act=credit_setting">{$lang.credit_setting}</a></li>
        <li><a class="btn1" href="index.php?app=setting&amp;act=subdomain_setting">{$lang.subdomain_setting}</a></li>
        <li><span>{$lang.creditscore_setting}</span></li>
        <li><a class="btn1" href="index.php?app=setting&amp;act=profit_setting">{$lang.profit_setting}</a></li>
        </ul>
</div>

<style>
.htcxjf input { border:1px solid #ddd; wigth:150px; height:22px; margin-right:5px;}
.htcxjf h6 {float:left; margin:0 10px 10px 20px;  height:24px; line-height:24px; font-weight:normal; overflow:hidden;}
.infoTable{ min-width:700px;}
</style>

<div class="info">
<h2 style="padding: 20px 0px 0px 20px;"> 此配置是给绑定创业者ID的客户下单的时候  给创业者的收益</h2>

    <form method="post" id="myform"  enctype="multipart/form-data">
        <table class="infoTable">
        
       
        <tr>
	      <td class="paddingT15 wordSpacing5">
           <div class="htcxjf" style="overflow:hidden;">
	         <h6>销售收益第一笔  衬衣返现金额</h6><input type="text" id=jf name="o_chenyi1" style="float:left;" value="{$setting.o_chenyi1}"/>
	         <h6>其他品类返现百分比(%):</h6><input type="text" id=dj name="o_1" style="float:left;" value="{$setting.o_1}"/> <a href="javascript:void(0);"  style="position:relative; top:3px;"></a>
           </div>                 
	      </td>        
        </tr>
        
         <tr>
	      <td class="paddingT15 wordSpacing5">
           <div class="htcxjf" style="overflow:hidden;">
	         <h6>销售收益第二笔   返现百分比(%):</h6><input type="text" id=dj name="o_2" value="{$setting.o_2}" style="float:left;"/> <a href="javascript:void(0);"  style="position:relative; top:3px;"></a>
           </div>                 
	      </td>        
        </tr>
        
        <tr>
	      <td class="paddingT15 wordSpacing5">
           <div class="htcxjf" style="overflow:hidden;">
	         <h6>销售收益第三笔   返现百分比(%):</h6><input type="text" id=dj name="o_3" value="{$setting.o_3}" style="float:left;" value=""/> <a href="javascript:void(0);"  style="position:relative; top:3px;"></a>
           </div>                 
	      </td>        
        </tr>
        
        <tr>
	      <td class="paddingT15 wordSpacing5">
           <div class="htcxjf" style="overflow:hidden;">
	         <h6>销售收益第四笔   返积分百分比(%):</h6><input type="text" id=dj name="o_4"  value="{$setting.o_4}" style="float:left;"/> <a href="javascript:void(0);"  style="position:relative; top:3px;"></a>
           </div>                 
	      </td>        
        </tr>
        
      <!--  
         {foreach from=$list key=key item=items}
         <tr>
	      <td class="paddingT15 wordSpacing5">
           <div class="htcxjf" style="overflow:hidden;">
             <input type="hidden" value="{$items.id}"  name=newid[{$items.id}] style="float:left;"/>
	         <h6>等级积分:</h6><input type="text" value="{$items.integral}" id= newjf name=newjf[{$items.id}] style="float:left;"/>
	         <h6>等级名称:</h6><input type="text" value="{$items.class}"  id= newdj name=newdj[{$items.id}] style="float:left;"/> <a href="javascript:void(0);" onclick="delAAttrSel({$items.id});" style="position:relative; top:3px;">[-]</a>&nbsp;
	        
	        
           </div>                 
	      </td>        
        </tr>
          {/foreach}-->
       <tr>
        <td class="ptb20" style="text-align:center;"><input class="tijia" type="submit" id="Submit" value="{$lang.submit}" /></td>
        
      </tr>
      
        </table>
    </form>
</div>
{include file="footer.html"}

<script type="text/javascript" src="{lib file=jquery.form.js}" charset="utf-8"></script>

<script type="text/javascript">


function delAAttrSel(id){
	if (!confirm("确认要删除？")) {
        window.event.returnValue = false;
        return false;
    }
     var url="index.php?app=setting&act=delcreditscore";
    $.get(url, { id:id},
    		  function(data){
    			if(data){
    		    alert('删除成功');
    			}else{
    			alert('删除失败');
    			}
    		 window.location.reload(true);
    		  });
	
}

function addAAttrSel(o)
{
	// 转化成JQ对象
	var jqa = $(o);
	// 获取上级DIV
	var parent = jqa.parent();
	if(jqa.html() == '[+]')
	{
		var newd = parent.clone();

		// 找到DIV中的A标签，设置为－
		newd.find('a').html('[-]');
		parent.after(newd);
		
	}
	else
	{
		parent.remove();
	}
}

</script>