{include file="header.html"}
<div id="rightTop">
    <ul class="subnav">
        <li><a class="btn1" href="index.php?app=images&w={$water}&d={$dir}&callback={$callback}">本地上传图片</a></li>
        <li><span>图库选择图片</span></li>
        <li><a class="btn1" href="index.php?app=images&act=fromweb&w={$water}&d={$dir}&callback={$callback}">网络上的图片</a></li>
    </ul>
</div>
<div class="info qdhqx_tab">

        <table class="infoTable">
        <tr>
                <td class="wlxskrs">
                     
					文件名称:<input type="text" name="filename" value="{$filename}" id="filename">

                	上传时间：<input type="text" name="uptime" id="uptime" value="{$uptime}">
					<input type="button" value="搜索" id="search">
					
					<input type="hidden" name="w" value="{$water}" id="water">
					<input type="hidden" name="d" value="{$dir}" id="dir">
					<input type="hidden" name="callback" value="{$smarty.get.callback}" id="callback">
					</td>
            </tr>
            <tr>
            	<td>
					<ul id="thumbnails">
						{foreach from=$img_list item=img}
						<li style="height:115px;">
						  <p><img src="{$site_url}/{$img.file_path}" width="80" height="80" title="{$img.file_name}" alt="{$img.file_name}"></p>
						  <p style="height:24px; line-height: 24px; overflow:hidden;">{$img.file_name}</p>
						</li>
						{/foreach}
					</ul>
				</td>
            </tr>
            <tr>
            	<td>
					{include file=page.bottom.html}
				</td>
            </tr>
            <tr>
                <td class="qdhqx">
                  <input type="button" value="确定"  class="tijia save"/>
                  <input type="button" value="关闭"  class="congzi"/>
                </td>
            </tr>
            </table>
</div>
<<script src="{lib file=jquery.min.js}"></script>
<script>
$(document).ready(function(){
	$(".save").click(function(){
		var src  = $("ul>li.on").find("img").attr("src");
		if(!src){
			alert('请选择图片！');
			return false;
		}
		window.opener.{$callback}(src);
		window.close();  
	})
	
	$("#search").click(function(){
		var filename = $("#filename").val();
		var uptime   = $("#uptime").val();
		var water    = $("#water").val();
		var dir      = $("#dir").val();
		var callback = $("#callback").val();
		location.href="index.php?app=images&act=fromdb&filename="+filename+"&uptime="+uptime+"&w="+water+"&d="+dir+"&callback="+callback;
	})
	
	$("#thumbnails").find("li").each(function(){
		$(this).click(function(){
			$(this).parents("ul").find("li").each(function(){
				$(this).removeClass("on");
			})
			$(this).addClass("on");
		})
	})
	
	$(".congzi").click(function(){
		window.close();  
	})
})
</script>
{include file="footer.html"}