{include file="header.html"}




<script>

function reco(id){
	$.ajax({
		"url":"/admin/index.php",
		"data": "app=user&act=pic_recommend&id=" + id ,
		"type": "GET",
		"success": function(data) {
			var obj = $("#reco_"+id);
			var type = obj.attr('data');
			if(type == 1){
				alert('推荐成功');
				
				obj.attr("data",2);
				$("#reco_"+id).html("取消推荐");
			}else{
				alert('取消成功');
				obj.attr("data",1);
				$("#reco_"+id).html("推荐首页");
			}
			//location.reload();
		}
	});
}


function del(id){
	$.ajax({
		"url":"/admin/index.php",
		"data": "app=user&act=delPhoto&id=" + id ,
		"type": "GET",
		"success": function(data) {
				alert('删除成功');
				location.reload();
		}
	});
}

function delBat(){
    var del_ids = "";
    $("input[name='ids']:checked").each(function(){
        if (true == $(this).attr("checked")) {
            del_ids += $(this).attr('value') + ",";
        }
    });

    if(!del_ids)
        return alert('请至少选择一条数据...');

    $.ajax({
        "url":"/admin/index.php",
        "data": "app=user&act=delBatPhoto&ids=" + del_ids ,
        "type": "GET",
        "success": function(data) {
            alert('删除成功');
            //location.reload();
        }
    });
}


function check_pic(id,status){
	$.ajax({
		"url":"/admin/index.php",
		"data": "app=user&act=check_pic&id=" + id + "&status=" + status,
		"type": "GET",
		"success": function(data) {
			   if(data){
				   
				alert('审批成功');
				   window.location.reload();
			   }
				//location.reload();
		}
	});
}

</script>








<div id="rightTop">
  
  <ul class="subnav">
    <li><span>会员晒图</span></li>


    
  </ul>
</div>
<div class="mrightTop">
  <div class="fontl">
    <form method="get">
       <div class="left">
          <input type="hidden" name="app" value="user" />
          <input type="hidden" name="act" value="upload" />
          <input type="hidden" name="cate" value="{$cate}" />
          <input type="hidden" name="field_name" value="uid">
          用户名：
          <input class="queryInput" type="text" name="field_value" value="{$field_value|escape}" />
        
          <input type="submit" class="formbtn" value="{$lang.query}" />
      </div>
      {if $filtered}
      <a class="left formbtn1" href="index.php?app=user&act=upload">{$lang.cancel_query}</a>
      {/if}
    </form>
  </div>
  <div class="fontr">{include file=page.top.html}</div>
</div>
<div class="tdare">
  <table width="100%" cellspacing="0" class="dataTable">
    <tr class="tatr1">
      <td width="5%" class="firstCell"><input type="checkbox" class="checkall" /></td>
      <td width="4%">id</td>
      <td width="10%">图片</td>
      <td>用户名</td>

      <td><span ectype="order_by" fieldname="add_time">时间</span></td>
      <td>推荐首页</td>
      <td>审核</td>
      
      <td>操作</td>
    </tr>

    <!--{foreach from=$data item=v key=k}-->
    <tr class="tatr2">
      <td class="firstCell"><input type="checkbox" name="ids" id="ids" class="checkitem" value="{$v.id}"/></td>
      <td>{$v.id}</td>
      <td><a href="{$v.url}" target="_blank"><img src='{$v.url}' width=50 height=50 /></a></td>
      <td>{$v.uname}</td>

      <td>{$v.date}</td>
      <td>
        {if !$v.recommend}
        <a data=1 href="javascript:void(0);" id='reco_{$v.id}' onclick='reco({$v.id});'>推荐首页</a>
        {else}
        <a data=2 href="javascript:void(0);" id='reco_{$v.id}'  onclick='reco({$v.id});'>取消推荐</a>
        {/if}
    </td>
      <td>{if !$v.status}未审核{elseif $v.status == 1}已通过{else}已拒绝{/if}</td>
      {if $cate == 2}
      	<td class="table-center">{if $v['recommend']}是{else}否{/if}</td>
      {/if}
      <td>
      <a href="javascript:void(0);" onclick='check_pic({$v.id},1);'>通过</a>
      <a href="javascript:void(0);" onclick='check_pic({$v.id},2);'>拒绝</a>
      <a href="javascript:void(0);" onclick='del({$v.id});'>删除</a>
      </td>
    </tr>
    <!--{/foreach}-->
  </table>
  <div id="dataFuncs">
    <div id="batchAction" class="left paddingT15">
      <a href="#" onclick='delBat();' >批量删除</a>
    </div>
    <div class="pageLinks">{include file=page.bottom.html}</div>
  </div>
  <div class="clear"></div>
</div>
{include file="footer.html"}