{include file="header.html"}
<script type="text/javascript">
$(function(){
    $('#brand_form').validate({
        errorPlacement: function(error, element){
            $(element).next('.field_notice').hide();
            $(element).after(error);
        },
        success       : function(label){
            label.addClass('right').text('OK!');
        },
        onkeyup    : false,
        rules : {
            brand_name : {
                required : true,
                remote   : {                //唯一
                url :'index.php?app=brand&act=check_brand',
                type:'get',
                data:{
                    brand_name : function(){
                        return $('#brand_name').val();
                        },
                    id  : '{$brand.brand_id}'
                    }
                }
            },
            logo : {
                accept  : 'gif|png|jpe?g'
            },
            brand_web : {
                url  : true,
            },
            sort_order : {
                number   : true,
                range	 :  [0,255]
            }
        },
        messages : {
            brand_name : {
                required : '{$lang.brand_empty}',
                remote   : '{$lang.name_exist}'
            },
            logo : {
                accept : '{$lang.limit_img}'
            },
            brand_web : {
                url : '必须输入正确的网址'
            },
            sort_order  : {
                number   : '{$lang.number_only}',
                range	 : '排序数字必须介于0~255'
            }
        }
    });
});
</script>

{$baidu_editor}

<div id="rightTop">
    <ul class="subnav">
        <li><a class="btn1" href="index.php?app=feed">{$lang.manage}</a></li>
        {if $brand.brand_id}
        <li><a class="btn1" href="index.php?app=feed&amp;act=add">{$lang.add}</a></li>
        {else}
        <li><span>{$lang.add}</span></li>
        {/if}
        <!--<li><a class="btn1" href="index.php?app=brand&wait_verify=1">{$lang.wait_verify}</a></li>-->
    </ul>
</div>

<div class="info">
    <form method="post" enctype="multipart/form-data" id="brand_form">
        <table class="infoTable">
            <tr>
                <th class="paddingT15">
                    犬类型:</th>
                <td class="paddingT15 wordSpacing5">
                    <select name="fbtype">
                        <option value="0">请选择</option>
                    {html_options options=$type_list selected=$brand.fbtype}
                    </select>
            </tr>
            <tr>
                <th class="paddingT15">
                    犬期:</th>
                <td class="paddingT15 wordSpacing5">
                    <select name="age_id">
                        <option value="0">请选择</option>
                        {html_options options=$age_list selected=$brand.age_id}
                    </select>
            </tr>
            <tr>
                <th class="paddingT15">
                    时间:</th>
                <td class="paddingT15 wordSpacing5">
                    <select name="time_id">
                        <option value="0">请选择</option>
                        {html_options options=$time_list selected=$brand.time_id}
                    </select>
            </tr>

            <tr>
                <th class="paddingT15">
                    体况:</th>
                <td class="paddingT15 wordSpacing5">
                    <select name="body_condition">
                        <option value="0">请选择</option>
                        {html_options options=$body_list selected=$brand.body_condition}
                    </select>
            </tr>


            <tr>
                <th class="paddingT15">
                    运动量:</th>
                <td class="paddingT15 wordSpacing5">
                    <select name="run_time">
                        <option value="0">请选择</option>
                        {html_options options=$run_list selected=$brand.run_time}
                    </select>
            </tr>
            <tr>
                <th class="paddingT15">
                    体重下限:</th>
                <td class="paddingT15 wordSpacing5">
                    <input class="infoTableInput2" id="wt_min" type="text" name="wt_min" value="{$brand.wt_min|escape}" /> <label class="field_notice"></label>
                </td>
            </tr>

            <tr>
                <th class="paddingT15">
                    体重上限</th>
                <td class="paddingT15 wordSpacing5">
                    <input class="infoTableInput2" id="wt_max" type="text" name="wt_max" value="{$brand.wt_max|escape}" /> <label class="field_notice"></label>
                </td>
            </tr>

            <tr>
                <th class="paddingT15">
                    默认体重</th>
                <td class="paddingT15 wordSpacing5">
                    <input class="infoTableInput2" id="default_weight" type="text" name="default_weight" value="{$brand.default_weight|escape}" /> <label class="field_notice"></label>
                </td>
            </tr>

            <tr>
                <th class="paddingT15">
                    能量需求参数乘积:</th>
                <td class="paddingT15 wordSpacing5">
                    <input class="infoTableInput2" id="enesum" type="text" name="enesum" value="{$brand.enesum|escape}" /> <label class="field_notice"></label>
                </td>
            </tr>

            <tr>
                <th class="paddingT15">
                    狗粮卡里路:</th>
                <td class="paddingT15 wordSpacing5">
                    <input class="infoTableInput2" id="kcal" type="text" name="kcal" value="{$brand.kcal|escape}" /> <label class="field_notice"></label>
                </td>
            </tr>

            <tr>
                <th class="paddingT15">
                    减肥瘦身卡里路:</th>
                <td class="paddingT15 wordSpacing5">
                    <input class="infoTableInput2" id="redkcal" type="text" name="redkcal" value="{$brand.redkcal|escape}" /> <label class="field_notice"></label>
                </td>
            </tr>


            <tr>
                <th class="paddingT15">
                    每天饲喂次数:</th>
                <td class="paddingT15 wordSpacing5">
                    <input class="infoTableInput2" id="nums" type="text" name="nums" value="{$brand.nums|escape}" /> <label class="field_notice"></label>
                </td>
            </tr>

            <!--<tr>-->
                <!--<th class="paddingT15">-->
                    <!--是否自由喂食:</th>-->
                <!--<td class="paddingT15 wordSpacing5">-->
                    <!--{html_radios options=$yes_or_no checked=$brand.feed name=feed}</td>-->
            <!--</tr>-->

            <!--<tr>-->
                <!--<th class="paddingT15">-->
                   <!--饲喂量:</th>-->
                <!--<td class="paddingT15 wordSpacing5">-->
                    <!--<input class="infoTableInput2" id="feed" type="text" name="feed" value="{$brand.feed|escape}" /> <label class="field_notice">如果自由采食填0</label>-->
                <!--</td>-->
            <!--</tr>-->

        <tr>
            <th></th>
            <td class="ptb20">
                <input class="tijia" type="submit" name="Submit" value="{$lang.submit}" />
                <input class="congzi" type="reset" name="Submit2" value="{$lang.reset}" />
            </td>
        </tr>
        </table>
    </form>
</div>
{include file="footer.html"}
