{include file="header.html"}
<script type="text/javascript">
$(function(){
    $('#add_time_from').datepicker({dateFormat: 'yy-mm-dd'});
    $('#add_time_to').datepicker({dateFormat: 'yy-mm-dd'});
});
</script>
<div id="rightTop">
    <ul class="subnav">
        <li><span>{$lang.manage}</span></li>
        <!-- <li><a class="btn1" href="index.php?app=order&amp;act=add_jpjz">新增订单</a></li> -->
    </ul>
</div>
<div class="mrightTop">
    <div class="fontl">
        <form method="get">
             <div class="left">
                <input type="hidden" name="app" value="orderj" />
                <input type="hidden" name="act" value="index" />
                <select class="querySelect" name="field">{html_options options=$search_options selected=$smarty.get.field}
                </select>:<input class="queryInput" type="text" name="search_name" value="{$query.search_name|escape}" />
                <select class="querySelect" name="status">
                    <option value="">订单状态</option>
                    {html_options options=$lang.ORDER_STATUS selected=$query.status}
                </select>
                下单时间从:<input class="queryInput2" type="text" value="{$query.add_time_from}" id="add_time_from" name="add_time_from" class="pick_date" />
                下单时间到:<input class="queryInput2" type="text" value="{$query.add_time_to}" id="add_time_to" name="add_time_to" class="pick_date" />
                订单金额从:<input class="queryInput2" type="text" value="{$query.order_amount_from}" name="order_amount_from" />
                订单金额到:<input class="queryInput2" type="text" style="width:60px;" value="{$query.order_amount_to}" name="order_amount_to" class="pick_date" />
                <input type="submit" class="formbtn" value="查询" />
            </div>
            <!--{if $filtered}-->
            <a class="left formbtn1" href="index.php?app=orderj">{$lang.cancel_query}</a>
            <!--{/if}-->
        </form>
    </div>
    <div class="fontr">
        {if $orders}{include file=page.top.html}{/if}
    </div>
</div>
<div class="tdare">
    <table width="100%" cellspacing="0" class="dataTable">
        <!--{if $orders}-->
        <tr class="tatr1">
            <td width="10%"><span ectype="order_by" fieldname="order_sn">订单号</span></td>
            <td width="15%"><span ectype="order_by" fieldname="add_time">创建时间</span></td>
            <td width="10%"><span ectype="order_by" fieldname="buyer_name">客服名称</span></td>
            <td width="10%"><span ectype="order_by" fieldname="order_amount">订单金额</span></td>
            <td width="10%">支付方式</td>
            <td width="10%"><span ectype="order_by" fieldname="source_form">订单来源</span></td>
            <td width="10%"><span ectype="order_by" fieldname="status">订单状态</span></td>
            <td width="10%">操作</td>
        </tr>
        <!--{/if}-->
        <!--{foreach from=$orders item=order}-->
        <tr class="tatr2">
            <td>{$order.order_sn} </td>
            <td>{$order.add_time|date:complete}</td>
            <td>{$order.kf_name|escape}</td>
            <td>{$order.order_amount|price}</td>
            <td>{$order.payment_name|escape|default:-}</td>
            <td>{$order.source_from|escape}</td>
            <td>{$lang.ORDER_STATUS.$order.status|default:-}</td>
            <td>
                <a href="index.php?app=order&amp;act=view&amp;id={$order.order_id}">{$lang.view}</a>
                <!-- <a href="index.php?app=order&act=updateprice&id={$order.order_id}&ordersn=201409483322&amount=0.1">修改价格</a>|-->
                | <a href="index.php?app=orderj&act=index&oid={$order.order_id}" target="_blank"><b>工艺下单</b></a>
            </td>
        </tr>
        <!--{foreachelse}-->
        <tr class="no_data">
            <td colspan="7">{$lang.no_data}</td>
        </tr>
        <!--{/foreach}-->
    </table>
    <div id="dataFuncs">
        <div class="pageLinks">
            {if $orders}{include file=page.bottom.html}{/if}
        </div>
    </div>
    <div class="clear"></div>
</div>
{include file="footer.html"}
