{include file="header.html"}
<div id="rightTop">
    <ul class="subnav">
        <li><span>{$lang.manage}</span></li>
        <li><a class="btn1" href="index.php?app=discount&amp;act=add">添加</a></li>
    </ul>
</div>

<div class="tdare">
    <table width="100%" cellspacing="0" class="dataTable">
        <!--{if $list}-->
        <tr class="tatr1">
            <!-- <td width="20" class="firstCell"><input type="checkbox" class="checkall" /></td> -->
            <td align="left">规则名称</td>
            <td align="left">是否排斥</td>
            <td align="left">开启状态</td>
            <td align="left">起始时间</td>
            <td align="left">结束时间</td> 
            <td align="left">优先级</td>  
            <td align="left">优惠条件</td> 
            <td align="left">优惠方案</td>       
            <td>操作</td>
        </tr>
        <!--{/if}-->
        <!--{foreach from=$list item=info}-->
        <tr class="tatr2">
            <td>{$info.name|escape}</td>
            <td>{if $info.if_ex}是{else}否{/if}</td>
            <td>{if $info.is_open}是{else}否{/if}</td>
            <td>{$info.starttime|date:Y-m-d H:i:s}</td>
            <td>{$info.endtime|date:Y-m-d H:i:s}</td>
            <td>{$info.level}</td>
            <td>{$info.favorable}</td>
             <td>{$info.yhcase}</td>
            <td>
            <a href="index.php?app=discount&act=edit&id={$info.id}">编辑</a>|
             <a href="index.php?app=discount&act=drop&id={$info.id}">删除</a>
              <a href="{$site_url}/activegoods.html?active_id={$info.id}" target="_blank">预览</a>
			</td>
        </tr>
        <!--{foreachelse}-->
        <tr class="no_data">
            <td colspan="7">{$lang.no_data}</td>
        </tr>
        <!--{/foreach}-->
    </table>
    <!--{if $list}-->
    <div id="dataFuncs">
        <div class="pageLinks">
            {include file=page.bottom.html}
        </div>
        <div id="batchAction" class="left paddingT15">
            &nbsp;&nbsp;
            &nbsp;&nbsp;
            <!--<input class="formbtn batchButton" type="button" value="lang.update_order" name="id" presubmit="updateOrder(this);" />-->
        </div>
    </div>
    <div class="clear"></div>
    <!--{/if}-->
</div>
{include file="footer.html"}
