{include file="header.html"}
<script type="text/javascript" src="{lib file=ajax_tree1.js}" charset="utf-8"></script>
<script type="text/javascript">
$(function(){
    $('#selecttype').validate({
        errorPlacement: function(error, element){
            $(element).next('.field_notice').hide();
            $(element).after(error);
        },
        success       : function(label){
            label.addClass('right').text('OK!');
        },
        onkeyup    : false,
        rules : {
            cate_id: {
            	required : true,
            },
        },
        messages : {
            cate_id : {
                required : '请选择分类',
            },
        }
    });
});

</script>
<script>
$().ready(function() {
	$("#cate_id").change(function() {
		$("#selecttype").submit();
	})
})
</script>
<div id="rightTop">
    <ul class="subnav">
        <li><span>{$lang.manage}</span></li>
        <li><a class="btn1" href="index.php?app=parttype&amp;act=addtype&amp;c_id={$cate_id}">{$lang.add}</a></li>
    </ul>
</div>
<!-- 查询开始 -->
<div class="mrightTop">
    <div class="fontl">
        <form method="get" name="selecttype" id="selecttype">
        <input type="hidden" name="app" value="parttype" />
        <input type="hidden" name="act" value="listtype" />
            <div class="left">
                 	分类:
               <select id="cate_id" name="cate_id">
                    <option value="">{$lang.select_pls}</option>
                    <!-- {foreach from=$parents key=key item=zt} -->
                    <option value="{$key}" <!-- {if $key == $cate_id} -->selected=selected<!-- {/if} --> >{$zt}</option>
                    <!-- {/foreach} -->
               </select> 
                <input type="submit" class="formbtn" value="{$lang.query}" />
            </div>
      <span>
              </span></form>
    </div>
</div>
<!-- 查询结束 -->
<div class="info2">
    <table  class="distinction">
        <!--{if $gcategories}-->
        <thead>
        <tr class="tatr1">
            <td class="w30"><input id="checkall_1" type="checkbox" class="checkall" /></td>
            <td width="50%"><span class="all_checkbox"><label for="checkall_1">{$lang.checkall}</label></span>类型名称</td>
            <td>{$lang.sort_order}</td>
            <td>对应分类</td>
            <td class="handler">{$lang.handler}</td>
        </tr>
        </thead>
        <!--{/if}-->
        <!-- {if $gcategories} --><tbody id="treet1"><!-- {/if} -->
        <!--{foreach from=$gcategories item=gcategory}-->
        <tr>
            <td class="align_center w30"><input type="checkbox" class="checkitem" value="{$gcategory.cate_id}" /></td>
            <td class="node" width="50%">
            <!--{if $gcategory.switchs}-->
            <img src="templates/style/images/treetable/tv-expandable.gif"
             ectype="flex" status="open" fieldid="{$gcategory.cate_id}">
            <!--{else}-->
            <img src="templates/style/images/treetable/tv-item.gif">
            <!--{/if}-->
            <span class="node_name "  fieldname="cate_name" fieldid="{$gcategory.cate_id}" required="1" title="{$lang.editable}">
            {$gcategory.cate_name|escape}
            </span>
            </td>
            <td class="align_center"><span class=""  fieldname="sort_order" fieldid="{$gcategory.cate_id}" datatype="number" title="{$lang.editable}">{$gcategory.sort_order}</span></td>
            <td class="align_center">
            {$cate_name}
            </td>
            <td class="handler">
            <span>
            <a href="index.php?app=parttype&amp;act=listattr&amp;id={$gcategory.cate_id}">属性列表</a>|
            <a href="index.php?app=parttype&amp;act=edittype&amp;id={$gcategory.cate_id}">{$lang.edit}</a>|
      <!--  <a href="javascript:if(confirm('{$lang.drop_confirm}'))window.location = 'index.php?app=parttype&amp;act=droptype&amp;id={$gcategory.cate_id}';">{$lang.drop}</a>-->
            </span>
            </td>
        </tr>
        <!--{foreachelse}-->
        <tr class="no_data">
            <td colspan="5">{$lang.no_data}</td>
        </tr>
        <!--{/foreach}-->
        <!-- {if $gcategories} --></tbody><!-- {/if} -->
        <tfoot>
            <tr class="tr_pt10">
            <!-- {if $gcategory} -->
            <!-- 
                <td class="align_center"><label for="checkall1"><input id="checkall_2" type="checkbox" class="checkall"></label></td>
                <td colspan="4" id="batchAction">
                    <span class="all_checkbox"><label for="checkall_2">{$lang.checkall}</label></span>&nbsp;&nbsp;
                    <input class="formbtn batchButton" type="button" value="{$lang.drop}" name="id" uri="index.php?app=parttype&act=droptype" presubmit="confirm('{$lang.drop_confirm}');" />
                </td>
              -->
            <!--{/if}-->
            </tr>
        </tfoot>
    </table>
</div>

{include file="footer.html"}